.contentStyle {
  textAlign: 'center';
  minHeight: 120;
  lineHeight: '120px';
  color: '#fff';
  backgroundColor: '#0958d9';
}

.sideStyle {
  textAlign: 'center';
  lineHeight: '120px';
  color: '#fff';
  backgroundColor: '#1677ff';
}